/* Font Family */
$primary-font-family:"Raleway", "Arial", sans-serif;
$secondary-font-family:"Comfortaa", "Arial", sans-serif;
$logo-text-font-family:"AmaticSC", "Arial", sans-serif;


/* Texts colors */
$color-text-dark:#000000;
$color-text-light:#fbfcfe;
$color-text-grey:rgba(142, 152, 146, 0.7);
$color-text-accent:#0f805d;

/* Background colors */
$primary-background-color-light:#fbfcfe;
$secondary-background-color-light-alternate:#f1f6fc;
$special-background-color-light-grey: rgba(142, 152, 146, 0.7);

/* Button colors */
$primary-button-color-accent:#6a107a;

/* Related colors */
$color-accent:#0f805d;
$color-Related-first:#b22ec8;
$color-Related-second:rgba(106, 16, 122, 0.6);
$color-Related-third:#7bdb0a;
$color-Related-fourth:rgba(15, 128, 93, 0.5);
$color-Related-fifth:#ff8282 ;

/* border-radius-button */
$border-radius-button: 40px;

/* border-radius-checkbox */
$border-radius-checkbox: 5px;

$border-checkbox:2px solid $color-accent;

/* border-radius-input */
$border-radius-input: 20px;

$border-input:1px solid $color-accent;

/* Screen width */
$desktop-screen-width: 1440px;
$tablet-screen-width: 768px;
$mobile-screen-width: 767px;


// container-width
// $container-desktop-y: 268px;
$container-tablet-y: 716px;
$container-mobile-y: 268px;


$input-height: 52px;
$section-padding-y: 30px;

$transition-duration: 0.2s;
