.button {
  display: inline-block;
  color: $color-text-light;
  font-family: $primary-font-family, sans-serif;
  background-color: $primary-button-color-accent;
  padding: 14px 64px;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  min-width: 220px;
  border: none;
  border-radius: $border-radius-button;
  text-decoration: none;
  word-break: break-word;


  &:hover,
  &:focus {
    background: $color-Related-first;
    transition-duration: $transition-duration;
  }

  &:active {
    background: $color-Related-second;
    transition-duration: $transition-duration;
  }
}
