.contacts {
  padding-block: 30px;


  @media (min-width: $tablet-screen-width) {
    padding-block: 0;
    padding-top: 109px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-top: 98px;
  }
}

.contacts--padding-y-form {
  padding-top: 30;

  @media (min-width: $tablet-screen-width) {
    padding-top: 43;
  }
}

.contacts__wrapper {
  width: 268px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @media (min-width: $tablet-screen-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $container-tablet-y;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-screen-width) {
    max-width: 550px;
    margin: 0;
  }
}

.contacts__inner {
  background: url("../../icons/stack.svg#line-leaf-two") 50% 0%/228px 32px no-repeat;


  @media (min-width: $tablet-screen-width) {
    background-size: 296px 42px;
  }

  @media (min-width: $desktop-screen-width) {
    display: flex;
    column-gap: 21px;
    flex-direction: row-reverse;
    align-items: center;
    width: $container-desktop-y;
    margin-left: auto;
    margin-right: auto;
    padding-top: 131px;
  }
}

.contacts__title {
  @include title($color-text-accent, $secondary-font-family, 36px, 40px, 400);
  margin: 0;
  margin-bottom: 70px;
  padding: 104px 5px 0 0;
  text-align: center;


  @media (min-width: $tablet-screen-width) {
    font-size: 48px;
    line-height: 54px;
    padding-top: 114px;
    padding-right: 11px;
    margin-bottom: 72px;
    max-width: 528px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-top: 0;
    font-size: 52px;
    line-height: 58px;
  }
}

.contacts__title--padding-y-form {
  margin-bottom: 63px;
  padding-top: 93px;

  @media (min-width: $tablet-screen-width) {
    padding-top: 115px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-top: 0;
    padding-right: 18px;
  }
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-weight: 400;
  max-width: 266px;
  padding-inline: 12px;


  @media (min-width: $tablet-screen-width) {
    max-width: 400px;
    margin-bottom: 11px;
    padding: 0;
    font-size: 20px;
    line-height: 23px;
  }
}

.contacts__adress {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  font-style: normal;
  width: 266px;

  @media (max-width: $mobile-screen-width) {
    font-size: 14px;
    line-height: 16px;
  }

  @media (min-width: $tablet-screen-width) {
    width: 400px;
    margin-right: 5px;
  }

  @media (min-width: $desktop-screen-width) {
    margin-right: 0;
    margin-left: 42px;
  }
}

.contacts__adress-text {
  margin: 0;
}

.contacts__adress-phone,
.contacts__adress-email {
  color: inherit;
  text-decoration: none;
}

.contacts__adress-text,
.contacts__adress-phone,
.contacts__adress-email {
  display: grid;
  grid-template-columns: 32px 1fr;
  column-gap: 5px;
  align-items: center;

  @media (min-width: $tablet-screen-width) {
    column-gap: 3px;
  }

  &::before {
    content: "";
    display: block;
    width: 32px;
    aspect-ratio: 1;
    mask-image: var(--icon);
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #000000;
  }

  &:not(.contacts__adress-text):hover,
  &:not(.contacts__adress-text):focus {
    color: $color-Related-third;
    transition-duration: $transition-duration;

    &::before {
      background-color: $color-Related-third;
      transition-duration: $transition-duration;
    }
  }

  &:not(.contacts__adress-text):active {
    color: $color-Related-fourth;
    transition-duration: $transition-duration;

    &::before {
      background-color: $color-Related-fourth;
      transition-duration: $transition-duration;
    }
  }
}


.contacts__adress-text--leaf {
  --icon: url("../../icons/stack.svg#contacts-leaf");
}

.contacts__adress-phone--call {
  --icon: url("../../icons/stack.svg#cotacts-call");
}

.contacts__adress-email--mail {
  --icon: url("../../icons/stack.svg#contacts-email");
}

.contacts-map-script {
  display: block;
  width: 100%;
  border: none;
  height: 372px;

  @media (min-width: $desktop-screen-width) {
    width: 555px;
  }
}

.contacts-map-script-wrap--nojs .contacts-map-script {
  display: none;
}

.contacts__map {
  display: block;
  width: 320px;
  margin: 0 auto;
  border: none;
  height: 372px;

  @media (min-width: $tablet-screen-width) {
    min-height: 372px;
    width: 768px;
  }

  @media (min-width: $desktop-screen-width) {
    width: 555px;
  }
}
