.developer {
  display: flex;
  column-gap: 8px;
  align-items: center;
  color: inherit;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 24px;
    mask-image: url("../../icons/stack.svg#logo-html-academy");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #000000;
  }
}

.developer__website-developer {
  font-size: 11px;
  line-height: 13px;

  @media (min-width: $tablet-screen-width) {
    font-size: 16px;
    line-height: 19px;
  }
}
