.field {
  display: grid;
  row-gap: 6.5px;

  @media (min-width: $tablet-screen-width) {
    row-gap: 2.5px;
  }
}


.field__input {
  font-family: inherit;
  color: $color-text-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  padding: 15px 12px;
  border: $border-input;
  border-radius: $border-radius-input;
  outline: none;

  &::placeholder {
    color: $color-text-grey;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $color-hover;
    transition-duration: $transition-duration;
  }

  &:not(:placeholder-shown):invalid {
    border-color: $color-error;
    transition-duration: $transition-duration;
  }
}

.field__input--textarea-adress-size {
  height: 88px;

  @media (min-width: $tablet-screen-width) {
    height: 52px;
  }
}

.field__input--textarea-wishes-size {
  height: 124px;

  @media (min-width: $tablet-screen-width) {
    height: 144px;
  }
}

.field__input--size-m {
  padding-bottom: 53px;

  @media (min-width: $tablet-screen-width) {
    padding-bottom: 15px;
  }
}

.field__lead {
  font-size: 14px;
  line-height: 16px;
  padding-left: 12px;

  @media (min-width: $tablet-screen-width) {
    font-size: 16px;
    line-height: 20px;
  }

  & sup {
    color: $color-Related-fifth;
    vertical-align: middle;
    margin-left: 2px;
    font-size: 20px;
  }
}


.field__input--error {
  border-color: $color-error;
  transition-duration: $transition-duration;
}

.field-inner textarea {
  display: block;
  height: 124px;

  @media (min-width: $tablet-screen-width) {
    height: 143px;
  }
}
