.field-group {
  padding: 0;
  border: none;
}


.field-group__heading {
  @include title($color-text-accent, $primary-font-family, 20px, 23px, 400);
  margin: 0;

  @media (min-width: $tablet-screen-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

.field-group__list {
  padding: 0;
  list-style: none;
}
