.field-group {
  padding: 0;
  border: none;

  @media (min-width: $tablet-screen-width) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding-left: 70px;
    }
  }

  @media (min-width: $desktop-screen-width) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding-left: 0;
    }
  }
}


.field-group__heading {
  @include title($color-text-accent, $primary-font-family, 20px, 23px, 400);
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 41px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-screen-width) {
    margin-bottom: 49px;
  }
}

.field-group__heading--location {
  @media (min-width: $tablet-screen-width) {
    text-align: center;
  }

  @media (min-width: $desktop-screen-width) {
    text-align: left;
  }
}

.field-group__list {
  // display: flex;
  // flex-wrap: wrap;
  max-width: 268px;
  margin: 0;
  padding: 0;
  list-style: none;
  word-break: break-word;

  &.field-group__list--contacts {
    @media (min-width: $tablet-screen-width) {
      max-width: 100%;
    }
  }
}

.field-group__item {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @media (min-width: $tablet-screen-width) {
    row-gap: 24px;
  }
}


.field-group__list--choose-berries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 25px;

  @media (min-width: $tablet-screen-width) {
    max-width: 483px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "col-1 col-5 col-4"
      "col-3 col-2 .";
    gap: 24px 65px;
    // Можно попробовать на флексах:добавить flex:wrap и уменьшить сolumn gap

    & .field-group__item--column-1 {
      grid-area: col-1;
    }

    & .field-group__item--column-2 {
      grid-area: col-2;
    }

    & .field-group__item--column-3 {
      grid-area: col-3;
    }

    & .field-group__item--column-4 {
      grid-area: col-4;
    }

    & .field-group__item--column-5 {
      grid-area: col-5;
    }
  }

  @media (min-width: $desktop-screen-width) {
    max-width: 791px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "col-1 col-3 col-5 col-2 col-4";
    column-gap: 48px;

    & .field-group__item--column-2 {
      width: 134px;
    }
  }
}

.field-group__list--type-storage {
  display: grid;
  gap: 23px 54px;

  @media (min-width: $tablet-screen-width) {
    max-width: 483px;
    grid-template-columns: repeat(2, 1fr);

    & .field-group__item:nth-child(2) {
      order: 2;
    }
  }

  @media (min-width: $desktop-screen-width) {
    // grid-template-columns: 157px 223px 166px;
    display: flex;
    column-gap: 48px;

    & .field-group__item:nth-child(2) {
      order: 0;
    }
  }

  & .field-group__item {
    width: 223px;
  }
}

.field-group__list--delivery-method {
  display: grid;
  gap: 32px 20px;
  max-width: 255px;

  @media (min-width: $tablet-screen-width) {
    display: flex;
    max-width: 484px;
    column-gap: 24px;
  }

  @media (min-width: $desktop-screen-width) {
    max-width: 653px;
    // grid-template-columns: 251px 354px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 48px;
  }
}

.field-group__list--contacts {
  display: grid;
  row-gap: 36px;

  @media (min-width: $tablet-screen-width) {
    grid-template-columns: 1fr 1fr;
    //  grid-template-areas: более удачное решение для построение сетки в донной сетуации.Более лучшее на переполнение
    grid-template-areas:
      "name ."
      "tel  email";
    gap: 36px 24px;

    & .field-group__item:first-of-type {
      grid-area: name;
      // grid-column: 1/2;
    }

    & .field-group__item:nth-child(2) {
      grid-area: tel;
      // grid-column: 1/2;
    }

    & .field-group__item:nth-child(3) {
      grid-area: email;
      // grid-column: 2/3;
    }

    // & .field-group__item:last-of-type {
    //   grid-area: adress;
    //   // grid-column: 1/-1;
    // }
  }
}


.field-group--comment {
  display: grid;
  row-gap: 36px;

  @media (min-width: $tablet-screen-width) {
    row-gap: 36px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-screen-width) {
    width: 624px;
    margin-bottom: 50px;
  }
}
