.form {
  padding-top: 83px;
  padding-bottom: 58px;

  @media (min-width: $tablet-screen-width) {
    padding-top: 108px;
  }
}

.form__wrapper {
  width: 268px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-screen-width) {
    width: 624px;
  }

  @media (min-width: $desktop-screen-width) {
    width: 792px;
  }
}

.form__body {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @media (min-width: $tablet-screen-width) {
    row-gap: 0;
  }
}

.form__body--inner {
  @media (min-width: $tablet-screen-width) {
    padding-left: 71px;
  }
}

.form__group {
  margin: 0;
}


.form__group--choose-berries {
  @media (min-width: $tablet-screen-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-screen-width) {
    margin-bottom: 57px;
  }
}


.form__group--delivery-ability {
  @media (min-width: $tablet-screen-width) {
    margin-bottom: 44px;
  }
}

.form__group--type-storage {
  @media (min-width: $tablet-screen-width) {
    margin-bottom: 48px;
  }
}

.form__group--contacts {
  @media (min-width: $tablet-screen-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-screen-width) {
    width: 624px;
  }
}

.form__button {
  width: 264px;
  padding: 17px 64px 16px 58px;

  @media (min-width: $tablet-screen-width) {
    align-self: center;
    font-size: 28px;
    line-height: 33px;
    min-width: 336px;
    padding-right: 59px;
  }
}
