.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (min-width: $tablet-screen-width) {
    column-gap: 8px;
  }
}

.logo__img {
  width: 52px;
  height: 52px;

  @media (min-width: $tablet-screen-width) {
    width: 60px;
    height: 60px;
  }
}

.logo:hover,
.logo:focus,
.logo:active {
  .logo__img {
    opacity: 0;
  }
  background-image: url("../../images/logo-hover.svg");
  background-size: 52px 52px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-screen-width) {
    background-size: 60px 60px;
  }
}

.logo:active {
  background-image: url("../../images/logo-active.svg");
}

.logo--no-pointer-events {
  pointer-events: none;
}

.logo__text {
  @media (max-width: $mobile-screen-width) {
    display: none;
  }
  color: $color-text-accent;
  font-family: $logo-text-font-family;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.logo:hover .logo__text,
.logo:focus .logo__text {
  color: $color-Related-third;
  transition-duration: $transition-duration;
}

.logo:active .logo__text {
  color: $color-Related-fourth;
  transition-duration: $transition-duration;
}
