.main-footer {
  background-color: $secondary-background-color-light-alternate;
  padding-top: 30px;

  @media (min-width: $tablet-screen-width) {
    padding: 0;
  }
}

.main-footer--padding-y-form {
  padding-top: 34px;

  @media (min-width: $tablet-screen-width) {
    padding-top: 0;
  }
}

.main-footer__wrapper {
  width: 268px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 9px;
  padding-block: 11px 20px;

  @media (min-width: $tablet-screen-width) {
    display: grid;
    grid-template-columns: 135px 1fr 153px;
    column-gap: 16px;
    padding-top: 20px;
    align-items: center;
    width: $container-tablet-y;
    min-height: 104px;
  }

  @media (min-width: $desktop-screen-width) {
    width: $container-desktop-y;
    padding-top: 36px;
    grid-template-columns: 135px 1fr 155px;
  }
}

.main-footer__logo {
  @media (min-width: $tablet-screen-width) {
    margin-left: -5px;
  }

  @media (min-width: $desktop-screen-width) {
    margin-left: 0;
  }
}


.main-footer__social {
  margin: 0;
  margin-left: auto;

  @media (min-width: $tablet-screen-width) {
    margin: 0;
  }
}

.main-footer__developer {
  margin-left: auto;

  @media (min-width: $tablet-screen-width) {
    margin: 0;
  }
}
