.main-footer {
  background-color: $secondary-background-color-light-alternate;
  padding-top: 30px;
}

.main-footer__wrapper {
  width: 268px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 9px;

  @media (min-width: $tablet-screen-width) {
    align-items: center;
    justify-content: space-between;
    width: $container-tablet-y;
    min-height: 104px;
  }
}


.main-footer__social {
  margin: 0;
  margin-left: auto;

  @media (min-width: $tablet-screen-width) {
    margin: 0;
  }
}

.main-footer__developer {
  margin-left: auto;

  @media (min-width: $tablet-screen-width) {
    margin: 0;
  }
}
