.site-menu {
  font-size: 20px;
  line-height: 23px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-top: 32px;
  min-height: 360px;


  @media (min-width: $tablet-screen-width) {
    display: flex;
    flex-flow: row wrap;
    gap: 10px 16px;
    padding: 0;
    min-height: auto;
  }

  @media (min-width: $desktop-screen-width) {
    column-gap: 29px;
  }
}

.site-menu__item {
  @media (min-width: $tablet-screen-width) {
    min-width: 112px;
  }

  @media (min-width: $desktop-screen-width) {
    min-width: 132px;
  }
}


.site-menu__link {
  color: inherit;
  text-decoration: none;

  @media (min-width: $tablet-screen-width) {
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 8px;
  }

  &:hover,
  &:focus-visible {
    color: $color-Related-third;
    transition-duration: $transition-duration;
  }

  &:active {
    color: $color-Related-fourth;
    transition-duration: $transition-duration;
  }
}

.site-menu__link--current {
  color: $color-text-accent;
}
