.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  max-width: 188px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-screen-width) {
    max-width: 350px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid $color-accent;
  // outline: none;


  &::before {
    content: "";
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    height: 17px;
    width: 16px;
    background: $color-accent;
  }


  &:hover,
  &:focus-visible {
    border-color: $color-Related-third;
    transition-duration: $transition-duration;
  }

  &:focus-visible {
    outline: 3px solid #000000;
    outline-offset: 5px;
  }

  &:active {
    border-color: $color-Related-fourth;
    transition-duration: $transition-duration;
  }

  &:hover::before,
  &:focus-visible::before {
    background: $color-Related-third;
    transition-duration: $transition-duration;
  }

  &:active::before {
    background: $color-Related-fourth;
    transition-duration: $transition-duration;
  }


  @media (min-width: $tablet-screen-width) {
    width: 40px;
    height: 40px;

    &::before {
      height: 25px;
      width: 25px;
    }
  }
}

.social__link--vkontakte {
  --icon: url("../../icons/stack.svg#vkontakte");
}

.social__link--youtube {
  --icon: url("../../icons/stack.svg#youtube");
}

.social__link--telegram {
  --icon: url("../../icons/stack.svg#telegram");
}
